In [70]:
import numpy as np
import pandas as pd

In [ ]:
def read_data(path):
    data = pd.read_csv('path', header = 0)
    return data

def split_train_test(data, train_ratio):
    split_index = int(len(data) * train_ratio)
    train_set = data[:split_index]
    test_set = data[split_index:]
    return train_set, test_se

def impute_data(data):
    imputer = SimpleImputer(strategy = 'median')
    imputer.fit(data)
    train_set = imputer.transform(data)     
    train_tr = pd.DataFrame(train_set, columns = data.columns, index = data.index )
    return train_tr

In [114]:
train, test = split_train_test(data, 0.6)

(534, 12)

In [116]:
test.shape

(357, 12)

In [117]:
data.shape

(891, 12)

In [118]:
#Taking only numerical values

In [119]:
data_num = data.drop([ 'Pclass', 'Name', 'Sex', 'SibSp',  'Parch', 'Cabin', 'Embarked', 'Ticket'], axis =1)

In [120]:
data_num.head()

   PassengerId  Survived   Age     Fare
0            1         0  22.0   7.2500
1            2         1  38.0  71.2833
2            3         1  26.0   7.9250
3            4         1  35.0  53.1000
4            5         0  35.0   8.0500

In [144]:
train_num, test_num = split_train_test(data_num, 0.2)

In [145]:
labels_num_test = test_num['Survived']

In [146]:
test_num.drop('Survived', axis = 1)

     PassengerId   Age     Fare
178          179  30.0  13.0000
179          180  36.0   0.0000
180          181   NaN  69.5500
181          182   NaN  15.0500
182          183   9.0  31.3875
..           ...   ...      ...
886          887  27.0  13.0000
887          888  19.0  30.0000
888          889   NaN  23.4500
889          890  26.0  30.0000
890          891  32.0   7.7500

[713 rows x 3 columns]

In [147]:
#labels_num_train = train_num['Survived']

In [148]:
#train_num.drop('Survived', axis = 1)
#train_set =

In [149]:
from sklearn.impute import SimpleImputer

In [150]:
def data_imputer(data):
    imputer = SimpleImputer(strategy = 'median')
    imputer.fit(data)
    train_set = imputer.transform(data)     
    train_tr = pd.DataFrame(train_set, columns = data.columns, index = data.index )
    return train_tr

In [151]:
train_tr = data_imputer(train_num)

In [152]:
#train_set.astype(int)

In [153]:
train_tr_labels = train_tr['Survived']
train_tr.drop('Survived', axis =1)

     PassengerId   Age     Fare
0            1.0  22.0   7.2500
1            2.0  38.0  71.2833
2            3.0  26.0   7.9250
3            4.0  35.0  53.1000
4            5.0  35.0   8.0500
..           ...   ...      ...
173        174.0  21.0   7.9250
174        175.0  56.0  30.6958
175        176.0  18.0   7.8542
176        177.0  26.0  25.4667
177        178.0  50.0  28.7125

[178 rows x 3 columns]

In [154]:
from sklearn.linear_model import LogisticRegression

In [155]:
clf = LogisticRegression()
clf.fit(train_tr, train_tr_labels)

/Users/yanakhalitova/.pyenv/versions/3.8.0/lib/python3.8/site-packages/sklearn/linear_model/logistic.py:430: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  warnings.warn("Default solver will be changed to 'lbfgs' in 0.22. "

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [156]:
test_tr = data_imputer(test_num)

In [157]:
predictions = clf.predict(test_tr)

In [158]:
print('Predictions:',predictions)

Predictions: [0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 1. 1. 1. 1. 0. 0. 1. 0. 0. 0.
 0. 0. 1. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0.
 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0.
 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1. 0.
 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0.
 1. 0. 1. 1. 0. 1. 0. 1. 1. 1. 0. 1. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0.
 1. 1. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1.
 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [159]:
print('Labels:', list(labels_num_test))

Labels: [0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0]

In [160]:
from sklearn.metrics import mean_squared_error

In [161]:

lin_mse = mean_squared_error(labels_num_test, predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

0.5516772843673705

In [5]:
# n_records = data.shape[0]
# labels_survived = data[data['Survived'] == 1].shape[0]
# labels_not_survived = data[data['Survived'] == 0].shape[0]
# labels_other = data[(data['Survived'] != 1) & (data['Survived'] != 0)].shape[0]


# print("Total number of records: %d" % n_records)
# print("Passengers survived: %d" % labels_survived)
# print("Passengers didn't survive: %d" % labels_not_survived)
# print("Passengers uncertain: %d" % labels_other)

Total number of records: 891
Passengers survived: 342
Passengers didn't survive: 549
Passengers uncertain: 0

In [6]:
# labels = data['Survived']
# features = data.drop('Survived', axis = 1)

In [8]:
#Cabin number?
# data_prep = features.drop(['Name', 'Ticket', 'Cabin', 'Embarked'], axis = 1)
# display(data_prep.head())

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0            1       3    male  22.0      1      0   7.2500
1            2       1  female  38.0      1      0  71.2833
2            3       3  female  26.0      0      0   7.9250
3            4       1  female  35.0      1      0  53.1000
4            5       3    male  35.0      0      0   8.0500

In [9]:
# from sklearn.preprocessing import MinMaxScaler

# scaler = MinMaxScaler() 
# numerical = ['Age', 'Fare', 'Pclass', 'SibSp', 'Parch']

# data_norm = pd.DataFrame(data = data_prep)
# data_norm[numerical] = scaler.fit_transform(data_norm[numerical])

# display(data_norm.head())

   PassengerId  Pclass     Sex       Age  SibSp  Parch      Fare
0            1     1.0    male  0.271174  0.125    0.0  0.014151
1            2     0.0  female  0.472229  0.125    0.0  0.139136
2            3     1.0  female  0.321438  0.000    0.0  0.015469
3            4     0.0  female  0.434531  0.125    0.0  0.103644
4            5     1.0    male  0.434531  0.000    0.0  0.015713

In [10]:
# data_final = pd.get_dummies(data_norm)
# # encoded = list(data_final.columns)
# print("%d total features after one-hot encoding." % len(encoded))

8 total features after one-hot encoding.

In [11]:
# display(data_final.head())

   PassengerId  Pclass       Age  SibSp  Parch      Fare  Sex_female  Sex_male
0            1     1.0  0.271174  0.125    0.0  0.014151           0         1
1            2     0.0  0.472229  0.125    0.0  0.139136           1         0
2            3     1.0  0.321438  0.000    0.0  0.015469           1         0
3            4     0.0  0.434531  0.125    0.0  0.103644           1         0
4            5     1.0  0.434531  0.000    0.0  0.015713           0         1