In [172]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [173]:
def read_data(path):
    data = pd.read_csv(path, header = 0)
    return data

def impute_data(data):
    imputer = SimpleImputer(strategy = 'median')
    imputer.fit(data)
    train_set = imputer.transform(data)     
    data_imputed = pd.DataFrame(train_set, columns = data.columns, index = data.index )
    return data_imputed

def split_train_test(data_imputed, train_ratio):
    split_index = int(len(data) * train_ratio)
    train_set = data[:split_index]
    test_set = data[split_index:]
    return train_set, test_set

def separate_labels_train(train_set, labels_column):
    train_set_labels = train_set['labels_column']
    train_set.drop('labels_column', axis =1)
    return train_set, train_set_labels

def separate_lables_test(test_set, labels_column):
    test_set_labels = test_set['labels_column']
    test_set.drop('labels_column', axis =1)
    return test_set, test_set_labels

In [174]:
data = read_data('train.csv')

In [175]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [180]:
data_num_pre = data.drop([ 'Pclass', 'Name', 'Sex', 'SibSp',  'Parch', 'Cabin', 'Embarked', 'Ticket'], axis =1)

In [181]:
data_num = impute_data(data_num_pre)

In [183]:
data_num_train, data_num_train_labels = split_train_test(data_num, 0.2)

In [162]:
#data_num = data.drop([ 'Pclass', 'Name', 'Sex', 'SibSp',  'Parch', 'Cabin', 'Embarked', 'Ticket'], axis =1)

     PassengerId   Age     Fare
178          179  30.0  13.0000
179          180  36.0   0.0000
180          181   NaN  69.5500
181          182   NaN  15.0500
182          183   9.0  31.3875
..           ...   ...      ...
886          887  27.0  13.0000
887          888  19.0  30.0000
888          889   NaN  23.4500
889          890  26.0  30.0000
890          891  32.0   7.7500

[713 rows x 3 columns]

     PassengerId   Age     Fare
0            1.0  22.0   7.2500
1            2.0  38.0  71.2833
2            3.0  26.0   7.9250
3            4.0  35.0  53.1000
4            5.0  35.0   8.0500
..           ...   ...      ...
173        174.0  21.0   7.9250
174        175.0  56.0  30.6958
175        176.0  18.0   7.8542
176        177.0  26.0  25.4667
177        178.0  50.0  28.7125

[178 rows x 3 columns]

In [5]:
# n_records = data.shape[0]
# labels_survived = data[data['Survived'] == 1].shape[0]
# labels_not_survived = data[data['Survived'] == 0].shape[0]
# labels_other = data[(data['Survived'] != 1) & (data['Survived'] != 0)].shape[0]


# print("Total number of records: %d" % n_records)
# print("Passengers survived: %d" % labels_survived)
# print("Passengers didn't survive: %d" % labels_not_survived)
# print("Passengers uncertain: %d" % labels_other)

Total number of records: 891
Passengers survived: 342
Passengers didn't survive: 549
Passengers uncertain: 0

In [6]:
# labels = data['Survived']
# features = data.drop('Survived', axis = 1)

In [8]:
#Cabin number?
# data_prep = features.drop(['Name', 'Ticket', 'Cabin', 'Embarked'], axis = 1)
# display(data_prep.head())

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0            1       3    male  22.0      1      0   7.2500
1            2       1  female  38.0      1      0  71.2833
2            3       3  female  26.0      0      0   7.9250
3            4       1  female  35.0      1      0  53.1000
4            5       3    male  35.0      0      0   8.0500

In [9]:
# from sklearn.preprocessing import MinMaxScaler

# scaler = MinMaxScaler() 
# numerical = ['Age', 'Fare', 'Pclass', 'SibSp', 'Parch']

# data_norm = pd.DataFrame(data = data_prep)
# data_norm[numerical] = scaler.fit_transform(data_norm[numerical])

# display(data_norm.head())

   PassengerId  Pclass     Sex       Age  SibSp  Parch      Fare
0            1     1.0    male  0.271174  0.125    0.0  0.014151
1            2     0.0  female  0.472229  0.125    0.0  0.139136
2            3     1.0  female  0.321438  0.000    0.0  0.015469
3            4     0.0  female  0.434531  0.125    0.0  0.103644
4            5     1.0    male  0.434531  0.000    0.0  0.015713

In [10]:
# data_final = pd.get_dummies(data_norm)
# # encoded = list(data_final.columns)
# print("%d total features after one-hot encoding." % len(encoded))

8 total features after one-hot encoding.

In [11]:
# display(data_final.head())

   PassengerId  Pclass       Age  SibSp  Parch      Fare  Sex_female  Sex_male
0            1     1.0  0.271174  0.125    0.0  0.014151           0         1
1            2     0.0  0.472229  0.125    0.0  0.139136           1         0
2            3     1.0  0.321438  0.000    0.0  0.015469           1         0
3            4     0.0  0.434531  0.125    0.0  0.103644           1         0
4            5     1.0  0.434531  0.000    0.0  0.015713           0         1